{% extends "base.html" %}
{% block title %}Edit Staff Profile{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="container">
    <a href="{{ url_for('staff.dashboard') }}" class="close">&times;</a>
        <div class="canvas">
            <p style="font-size:xx-large; margin-bottom: 5px;">Edit Profile</p>
        </div>
        <div class="main">
            <div class="form-body">
                <form action="{{ url_for('staff.edit_profile', user_id=edit_staff.id) }}" method="POST">
                    <div class="input-box">
                        <label>Name</label>
                        <input type="text" name="name" value="{{ edit_staff.name }}" maxlength="100">
                    </div>
                    <div class="input-box">
                        <label>Email</label>
                        <input type="email" name="email" value="{{ edit_staff.email }}" maxlength="120">
                    </div>
                    <div class="input-box">
                        <label>Contact</label>
                        <input type="tel" id="contact" name="contact" value="{{ edit_staff.contact }}" pattern="[0-9]{10}">
                    </div>
                    <div class="input-box">
                        <label>Experience</label>
                        <input type="number" name="experience" value="{{ edit_staff.staff_profile.experience }}" min="0">
                    </div>
                    <div class="input-box">
                        <label>Specialization</label>
                        <select name="specialization" >
                            <option value="" disabled selected>Select</option>
                            <option value="Expedition Leader" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Expedition Leader</option>
                            <option value="Head Guide" {% if edit_staff.staff_profile.specialization == "Head Guide" %}selected{% endif %}>Head Guide</option>
                            <option value="Assistant Guide" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Assistant Guide</option>
                            <option value="Camp Manager" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Camp Manager</option>
                            <option value="Expedition Cook" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Expedition Cook</option>
                            <option value="Kitchen Assistant" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Kitchen Assistant</option>
                            <option value="Porter" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Porter</option>
                            <option value="High-Altitude Porter" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>High Altitude Porter</option>
                            <option value="Wilderness Medic" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Wilderness Medic</option>
                            <option value="Logistics Coordinator" {% if edit_staff.staff_profile.specialization == "Expedition Leader" %}selected{% endif %}>Logistics Coordinator</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label>Password</label>
                        <input type="password" name="password" maxlength="128" minlength="8" >
                    </div>
                    <div class="sub-links">
                        <button type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}